.div_float {
  position: relative;
  z-index: 500;
  border-radius: 15px 50px 30px;
  overflow: hidden;
  display:block;
  text-align: center;
  /* cursor: col-resize; */
}

#sliding_anim {
    /* position: absolute !important; */
    top: 50px !important;
}

#close {
    left: 30%;
    display:inline-block;
    /* padding:2px 5px; */
    /* background:#ccc; */
}

/* #close:hover {
    left: 30%;
    cursor: pointer;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
    color:#fff;
} */

.info_float {
    position: fixed;
    height: 7%;
    width: 30rem;
    bottom: 0;
    left: 46%;
    z-index: 502;
    margin-bottom: 3rem;
    border-radius: 3.0rem;
}

.info_float2 {
    position: fixed;
    height: 7%;
    width: 30rem;
    bottom: 0;
    left: 50%;
    z-index: 502;
    margin-bottom: 18rem;
    border-radius: 3.0rem;
    display: none;
}